<% sender = notification.sender %>
<% cordinate = notification.cordinate %>

<div class="user-view clearfix ">
  <%= link_to user_show_path(notification.sender) do %>
  <%= image_tag sender.picture.url, size: 200 unless @user.picture.blank? %>
  <%= notification_form(notification) %><span class="moderate-font"><%=" (#{time_ago_in_words(notification.created_at)} å‰)" %></span>
  <br>
  <% if !@comment.nil? %>
  <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @comment %></p>
  <% end %>
  <br><br>
  <% end %>
  <hr>
</div>