       <div class=" d-flex images float-left col-sm-12 flex-grow  ">
              <div class=" flex-fill flex-row">
                     <div class=" flex-fill cordeimg float-left">
                            <% if @si_tops %>
                            <%= image_tag @si_tops, data:{ image: 'img1'}, size: "250x250", class: "pic" %>
                            <div class=" image-text">
                                   トップス登録済
                            </div>
                            <% else %>
                            <%= image_tag "logo-tops.png", size: "215x257" %>
                            <div class="image-text">
                                   <%= link_to 'トップス選ぶ', "/users/#{params[:user_id]}/cordinates/#{params[:id]}/items/search?q[super_item_eq]=1", data: {turbolinks: false} ,class: "images", data: {turbolinks: false} %>
                            </div>
                            <% end %>
                     </div>
                     <div class="flex-fill cordeimg float-left">
                            <% if @si_bottoms %>
                            <%= image_tag @si_bottoms, data:{ image: 'img2'}, size: "250x257", class: "pic"  %>
                            <div class="image-text">
                                   ボトムス登録済
                                   <%= link_to 'もう一度選ぶ',"/users/#{params[:user_id]}/cordinates/#{params[:id]}/items/search?q[super_item_eq]=2",data: {turbolinks: false} , class: "images", data: {turbolinks: false} %>
                            </div>
                            <% else %>
                            <%= image_tag "logo-pants.png", size: "215x257" %>
                            <div class="image-text">
                                   <%= link_to 'ボトムス選ぶ',"/users/#{params[:user_id]}/cordinates/#{params[:id]}/items/search?q[super_item_eq]=2",data: {turbolinks: false} , class: "images", data: {turbolinks: false} %>
                            </div>
                            <% end %>
                     </div>
                     <div class="flex-fill cordeimg float-left">
                            <% if @si_shoes %>
                            <%= image_tag @si_shoes, data:{ image: 'img3'}, size: "250x240", class: "pic"  %>
                            <div class="image-text align-items-center">
                                   シューズ登録済
                            </div>
                            <% else %>
                            <%= image_tag "logo-shoes.png", size: "215x257" %>
                            <div class="image-text ">
                                   <%= link_to 'シューズを選ぶ',  "/users/#{params[:user_id]}/cordinates/#{params[:id]}/items/search?q[super_item_eq]=3", data: {turbolinks: false} , class: "images", data: {turbolinks: false} %>
                            </div>
                            <% end %>
                     </div>
                     <div class="flex-fill cordeimg  float-left">
                            <% if @si_outer %>
                            <%= image_tag @si_outer, data:{ image: 'img4'}, size: "250x240", class: "pic"  %>
                            <div class="image-text">
                            アウター登録済
                            </div>
                            <% else %>
                            <%= image_tag "outer.png", size: "215x257" %>
                            <div class="image-text">
                                   <%= link_to 'アウターを選ぶ',  "/users/#{params[:user_id]}/cordinates/#{params[:id]}/items/search?q[super_item_eq]=0", data: {turbolinks: false} , class: "images", data: {turbolinks: false} %>
                            </div>
                            <% end %>
                     </div>
              </div>
       </div>
<script>
var cordeimgs = document.querySelectorAll('.pic');
for(var i = 0; i < cordeimgs.length; i++) {
  cordeimgs[i].onclick = function() {
    var src = this.getAttribute('src');
    document.getElementById('bigimg').src = src ;
  };
}
</script>


<%# document.getElementById('bigimg').src = this.dataset.image; %>
