
                      <div class = "cordinate_comments">
                      <i class="fas fa-user-edit fa-1x"></i>コーデへのコメント
                      <%= form_for(@comment, url: {controller: 'comments' , action: 'create' }, method: :post) do |i| %>
                        <%= i.text_field :comment %>
                          <br>
                          <%= i.submit 'コメントする' %>
                            <% end %>
                            
   　<%# unless @comments.nil? %>

  <p>投稿詳細ページ</p>
              <p><i class="far fa-comment fa-1x"></i>コメント一覧</p>
              <%   @cordinate_comments.each do |c| %>
                <div class= "cordinate_responses">
                  <ul>
                    <li>
                      <%= gravatar_for @user, size: 20 %>
                      <div class = "comment_box">
                         <%= c.user.name + ":" + "#{c.comment}" %>
                      </div>
                    </li>
                    <%= button_to "コメントを消す" , comment_delete_path( user_id: current_user.id, comment_id: c.id, id: params[:id] ), :controller=>"comments", :action=> "destroy", :method => "delete" %>
                  </ul>
                  </div>
                    <% end %>
<hr>

</div>
