
           <% if @cordinate.liked_users && @likecordinates !=nil %>
                          <p><i class="far fa-thumbs-up fa-1x"></i>いいね:合計<%= @likecordinates_count %></p>
                          <% unless @cordinate.liked_users.nil? %>


                            <% @cordinate.liked_users.each do |user| %>
                            <div class= "cordinate_responses">
                              <div class= "cordinate_responses">
                             <li><%= gravatar_for @user, size: 20 %><%= @user.name %>へ</li>
                             <br>
                             <div class = "comment_box">
                              <li><%= user.name %>さんがいいねしました。</li>
                              </div>
                              <li><%= button_to "いいねを取り消す" , likecordinate_delete_path( user_id: user.id, likecordinate_id: user.likecordinates, id: @cordinate.id ),
                                :controller=>"likecordinates", :action=> "destroy", :method => "delete" %></li>
                                </div>
                              <% end %>
                                <% end %>
                                  <% end %>



   <%# @likecordinates.each do |likecordinate| %>
                                <li><%#= button_to "いいねを取り消す" , likecordinate_delete_path( user_id: likecordinate.user_id, likecordinate_id: likecordinate.id, id: @cordinate.id ),
                                :controller=>"likecordinates", :action=> "destroy", :method => "delete" %></li>


   <%# delete "/users/:user_id/cordinates/:id/likecordinates/:likecordinate_id", to: "likecordinates#destroy", as: "likecordinate_delete" %>


<%#
=> #<ActiveRecord::Relation
[#<Likecordinate id: 1, user_id: 1, cordinate_id: 2, created_at: "2021-01-09 13:50:32", updated_at: "2021-01-09 13:50:32">,
 #<Likecordinate id: 3, user_id: 1, cordinate_id: 1, created_at: "2021-01-09 23:33:39", updated_at: "2021-01-09 23:33:39">]> %>


<%#
  Likecordinate Load (0.4ms)  SELECT  `likecordinates`.* FROM `likecordinates` LIMIT 11
=> #<ActiveRecord::Relation [#<Likecordinate id: 1, user_id: 4, cordinate_id: 1, created_at: "2021-01-26 12:02:49", updated_at: "2021-01-26 12:02:49">]>
irb(main):004:0> Comment.all
  Comment Load (0.4ms)  SELECT  `comments`.* FROM `comments` LIMIT 11
=> #<ActiveRecord::Relation [#<Comment id: 1, comment: "初コメ!!", user_id: 4, cordinate_id: 1, created_at: "2021-01-26 12:01:41", updated_at: "2021-01-26 12:01:41">]>
irb(main):005:0> current_user
Traceback (most recent call last): %>

<%#
irb(main):001:0> Likecordinate.all
   (1.0ms)  SET NAMES utf8,  @@SESSION.sql_mode = CONCAT(CONCAT(@@sql_mode, ',STRICT_ALL_TABLES'), ',NO_AUTO_VALUE_ON_ZERO'),  @@SESSION.sql_auto_is_null = 0, @@SESSION.wait_timeout = 2147483
  Likecordinate Load (0.3ms)  SELECT  `likecordinates`.* FROM `likecordinates` LIMIT 11
=> #<ActiveRecord::Relation [#<Likecordinate id: 1, user_id: 4, cordinate_id: 1, created_at: "2021-01-26 12:02:49", updated_at: "2021-01-26 12:02:49">, #<Likecordinate id: 15, user_id: 4, cordinate_id: 4, created_at: "2021-01-27 06:54:12", updated_at: "2021-01-27 06:54:12">]>
irb(main):002:0>  %>
