<% unless @cordinate.user.id === current_user.id %>
                      <div class = "cordinate_comments">
                      <i class="fas fa-user-edit fa-1x"></i>コーデへのコメント
                      <%= form_for(@comment, url: {controller: 'comments' , action: 'create' }, method: :post) do |i| %>
                        <%= i.text_field :comment %>
                          <br>
                          <%= i.submit 'コメントする' %>
                            <% end %>
                                 <% end %>
                            
  <p>投稿詳細ページ</p>
              <p><i class="far fa-comment fa-1x"></i>コメント一覧</p>
        <% if @cordinate.commented_users && @comment !=nil %>                                                   
<% @comments.each do |c| %>

<div class= "cordinate_responses">
                              <div class= "cordinate_responses">                             
                              <%= image_tag @comment.user.picture.url, size: 150 unless @comment.user.picture.blank? %>                              
                              <%=link_to @comment.user.name, user_show_path(id:@comment.user.id )%>から
                             <br>                                       
                         <div class = "comment_box">
 <li><%= c.comment %></li>                                                                                    
 </div>                                                                               
                              </div>

  <% if @user.id === current_user.id %>
                              <li><%= button_to "コメントを取り消す" , comment_delete_path( user_id: user.id, comment_id: c.id, id: @cordinate.id ),
                                :controller=>"comments", :action=> "destroy", :method => "delete", class: "comment_like_btn" %></li>
                                <% end %>

  </div>
                                               
      <% end %>
      <% end %>
