<% unless @cordinate.user.id === current_user.id %>
                      <div class = "cordinate_comments">
                      <i class="fas fa-user-edit fa-1x"></i>コーデへのコメント
                      <%= form_for(@comment, url: {controller: 'comments' , action: 'create' }, method: :post) do |i| %>
                        <%= i.text_field :comment %>
                          <br>
                          <%= i.submit 'コメントする' %>
                            <% end %>
                                 <% end %>
                            
  <p>投稿詳細ページ</p>
              <p><i class="far fa-comment fa-1x"></i>コメント一覧</p>
        <% if @cordinate.commented_users && @comment !=nil %>                          
                          <% unless @cordinate.commented_users.nil? %>
                            <% @cordinate.commented_users.each do |user| %>
                            <div class= "cordinate_responses">
                              <div class= "cordinate_responses">                             
                              <%= image_tag @user.picture.url, size: 150 unless @user.picture.blank? %>
                              <%= @user.name %>へ</li>
                             <br>
                             <div class = "comment_box">
                              <li><%= user.name %>さんがコメントしました。</li>
                              </div>
                              <br>
                                <% if user.id === current_user.id %>
                              <li><%= button_to "コメントを取り消す" , comment_delete_path( user_id: user.id, comment_id: user.comments, id: @cordinate.id ),
                                :controller=>"comments", :action=> "destroy", :method => "delete", class: "comment_like_btn" %></li>
                                <% end %>
                                </div>
                              <% end %>
                                <% end %>
                                  <% end %>

<hr>

</div>
