<% if controller.action_name == "show" %>

<div class="cordinate_show_lists">
  <li>ユーザー: <%=link_to @cordinate.user.name, user_show_path(id: params[:user_id])%></li>
  <li>ID： <%= @cordinate.id %></li>
  <li><i class="fa fa-leaf" aria-hidden="true"></i>季節： <%= @cordinate.season %></li>
  <li>TPO: <%= @cordinate.tpo %></li>
  <li>
  <li><i class="fa fa-trophy" aria-hidden="true"></i>評価:<span class="star5_rating" data-rate=<%= @cordinate.rating %>></span></li>
</div>



<div class="modal-images">
  <ul>
    <% if @si_tops %>
    <li><a href=""><%= image_tag @si_tops, data:{ image: 'img1'}, size: "250x250", class: "pic" %></a></li>
    <% else %>
    <li><a href=""><%= image_tag "logo-tops.png", size: "215x257" %></a></li>
    <% end %>
    </li>
    <% if @si_bottoms %>
    <li><a href=""><%= image_tag @si_bottoms, data:{ image: 'img2'}, size: "250x257", class: "pic"  %></a></li>
    <% else %>
    <li><a href=""><%= image_tag "logo-pants.png", size: "215x257" %></a></li>
    <% end %>
    </li>
    <li>
      <% if @si_shoes %>
    <li><a href=""><%= image_tag @si_shoes, data:{ image: 'img3'}, size: "250x240", class: "pic"  %></a></li>
    <% else %>
    <li><a href=""><%= image_tag "logo-shoes.png", size: "215x257" %></a></li>
    <% end %>
    </li>
  </ul>
</div>



<div class="modal">
  　　<div class="bigimg"><img src="" alt=""></div>
  　　<p class="close-btn"><a href="">✖</a></p>
</div>



<script>
  $('ul li a').click(function() {
    var imgSrc = $(this).children().attr('src');
    $('.bigimg').children().attr('src', imgSrc);
    $('.modal').fadeIn();
    $('body,html').css('overflow-y', 'hidden');
    return false
  });

  $('.close-btn').click(function() {
    $('.modal').fadeOut();
    $('body,html').css('overflow-y', 'visible');
    return false
  });
</script>



<% elsif controller.action_name == "user_all_cordinate_show" ||  controller.action_name == "all_cordinate_show"  %>
<% @cordinates.each do |cordinate| %>

<div class="cordinate_each_images kakomi-double  ">

  <div class="img_fit">
    <% if cordinate.picture?  %>
    <%= link_to image_tag( cordinate.picture.url), cordinate_show_path( user_id: cordinate.user_id, id: cordinate.id), size: "225x300"%>
    <% else %>
    <%= link_to image_tag('default_cordinate.png'), cordinate_show_path( user_id: cordinate.user_id, id: cordinate.id), :size => '200x200' %>
    <% end %>
  </div>

  <div class="cordinates_each_lists">
    <ul>
      <li>ID:<%= cordinate.id %></li>
      <li>user_id:<%= cordinate.user_id %></li>
      <li>ユーザー: <%=link_to cordinate.user.name, cordinate_show_path(user_id: cordinate.user.id, id: cordinate.id )%></li>
      <li><i class="fa fa-leaf" aria-hidden="true"></i>季節:<%= cordinate.season %></li>
      <li>TPO:<%= cordinate.tpo %></li>
      <li><i class="fa fa-trophy" aria-hidden="true"></i>評価:<span class="star5_rating" data-rate=<%= cordinate.rating %>></span></li>

    </ul>

  </div>
</div>

<% end %>
<% end %>