<% if controller.action_name == "show" %>

<div class="cordinate_show_lists  ">
  <ul>
    <li>ユーザー: <%=link_to @cordinate.user.name, user_show_path(id: params[:user_id])%></li>
    <li>ID： <%= @cordinate.id %></li>
    <li><i class="fa fa-leaf" aria-hidden="true"></i>季節： <%= @cordinate.season %></li>
    <li>TPO: <%= @cordinate.tpo %></li>
    <li>
    <li><i class="fa fa-trophy" aria-hidden="true"></i>評価:<span class="star5_rating" data-rate=<%= @cordinate.rating %>></span></li>
  </ul>
</div>

<% elsif controller.action_name == "user_all_cordinate_show" ||  controller.action_name == "all_cordinate_show"  %>
<% @cordinates.each do |cordinate| %>

<div class="cordinate_each_images kakomi-double  ">

  <div class="img_fit">
    <% if cordinate.picture?  %>
    <%= link_to image_tag( cordinate.picture.url), cordinate_show_path( user_id: cordinate.user_id, id: cordinate.id), size: "225x300"%>
    <% else %>
    <%= link_to image_tag('default_cordinate.png'), cordinate_show_path( user_id: cordinate.user_id, id: cordinate.id), :size => '200x200' %>
    <% end %>
  </div>

  <div class="cordinates_each_lists">
    <ul>
      <li>ID:<%= cordinate.id %></li>
      <li>user_id:<%= cordinate.user_id %></li>
      <li>ユーザー: <%=link_to cordinate.user.name, cordinate_show_path(user_id: cordinate.user.id, id: cordinate.id )%></li>
      <li><i class="fa fa-leaf" aria-hidden="true"></i>季節:<%= cordinate.season %></li>
      <li>TPO:<%= cordinate.tpo %></li>
      <li><i class="fa fa-trophy" aria-hidden="true"></i>評価:<span class="star5_rating" data-rate=<%= cordinate.rating %>></span></li>

    </ul>

  </div>
</div>

<% end %>
<% end %>





<div class=" d-flex images float-left col-sm-12 flex-grow  ">
  <div class=" flex-fill flex-row">
    <div class=" flex-fill cordeimg float-left">
      <% if @si_tops %>
      <%= image_tag @si_tops, data:{ image: 'img1'}, size: "250x250", class: "pic" %>
      <div class=" image-text">
        トップス登録済
      </div>
      <% else %>
      <%= image_tag "logo-tops.png", size: "215x257" %>
      <div class="image-text">
        <%= link_to 'トップス選ぶ', "/users/#{params[:user_id]}/cordinates/#{params[:id]}/items/search?q[super_item_eq]=1", data: {turbolinks: false} ,class: "images", data: {turbolinks: false} %>
      </div>
      <% end %>
    </div>
    <div class="flex-fill cordeimg float-left">
      <% if @si_bottoms %>
      <%= image_tag @si_bottoms, data:{ image: 'img2'}, size: "250x257", class: "pic"  %>
      <div class="image-text">
        ボトムス登録済
        <%= link_to 'もう一度選ぶ',"/users/#{params[:user_id]}/cordinates/#{params[:id]}/items/search?q[super_item_eq]=2",data: {turbolinks: false} , class: "images", data: {turbolinks: false} %>
      </div>
      <% else %>
      <%= image_tag "logo-pants.png", size: "215x257" %>
      <div class="image-text">
        <%= link_to 'ボトムス選ぶ',"/users/#{params[:user_id]}/cordinates/#{params[:id]}/items/search?q[super_item_eq]=2",data: {turbolinks: false} , class: "images", data: {turbolinks: false} %>
      </div>
      <% end %>
    </div>
    <div class="flex-fill cordeimg float-left">
      <% if @si_shoes %>
      <%= image_tag @si_shoes, data:{ image: 'img3'}, size: "250x240", class: "pic"  %>
      <div class="image-text align-items-center">
        シューズ登録済
      </div>
      <% else %>
      <%= image_tag "logo-shoes.png", size: "215x257" %>
      <div class="image-text ">
        <%= link_to 'シューズを選ぶ',  "/users/#{params[:user_id]}/cordinates/#{params[:id]}/items/search?q[super_item_eq]=3", data: {turbolinks: false} , class: "images", data: {turbolinks: false} %>
      </div>
      <% end %>
    </div>
    <div class="flex-fill cordeimg  float-left">
      <% if @si_outer %>
      <%= image_tag @si_outer, data:{ image: 'img4'}, size: "250x240", class: "pic"  %>
      <div class="image-text">
        アウター登録済
      </div>
      <% else %>
      <%= image_tag "outer.png", size: "215x257" %>
      <div class="image-text">
        <%= link_to 'アウターを選ぶ',  "/users/#{params[:user_id]}/cordinates/#{params[:id]}/items/search?q[super_item_eq]=0", data: {turbolinks: false} , class: "images", data: {turbolinks: false} %>
      </div>
      <% end %>
    </div>
  </div>
</div>



<ul>
  　　<li><a href=""><img src="img1" alt=""></a></li>
  　　<li><a href=""><img src="img2" alt=""></a></li>
  　　<li><a href=""><img src="img3" alt=""></a></li>
</ul>
<div class="modal">
  　　<div class="bigimg"><img src="" alt=""></div>
  　　<p class="close-btn"><a href="">✖</a></p>
</div>


<script>
  $('ul li a').click(function() {
    var imgSrc = $(this).children().attr('src');
    $('.bigimg').children().attr('src', imgSrc);
    $('.modal').fadeIn();
    $('body,html').css('overflow-y', 'hidden');
    return false
  });

  $('.close-btn').click(function() {
    $('.modal').fadeOut();
    $('body,html').css('overflow-y', 'visible');
    return false
  });
</script>