<% if request.path.include?("/new") %>
<%= form_for(@item, url: item_create_path) do |i| %>
<% end %>
 <% else %>
<%= form_for(@item, url:edit_user_item_path) do |i| %>
<% end %>


 <div class="field">

                   <span class="color_select">カラー選択</span><br>
                   <div class="radio-inline">

                    <div class = "color_list">

 <li>
                          <div class="color-black">
                            <%= i.radio_button :color, :ブラック, checked: "checked" %>
                              <%= i.label :ブラック, class: "color_label" %>
                                <a></a>
                          </div>
                        </li>
                        <li>
                          <div class="color-white">
                            <%= i.radio_button :color, :ホワイト, checked: "checked" %>
                              <%= i.label :ホワイト, class: "color_label" %>
                                <a></a>
                          </div>
                        </li>
                        <li>
                          <div class="color-gray">
                            <%= i.radio_button :color, :グレー, checked: "checked" %>
                              <%= i.label :グレー, class: "color_label" %>
                                <a></a>
                          </div>
                        </li>
                        <li>
                          <div class="color-red">
                            <%= i.radio_button :color, :レッド, checked: "checked" %>
                              <%= i.label :レッド, class: "color_label" %>
                                <a></a>
                          </div>
                        </li>
                        <li>
                          <div class="color-navy">
                            <%= i.radio_button :color, :ネイビー, checked: "checked" %>
                              <%= i.label :ネイビー, class: "color_label" %>
                                <a></a>
                          </div>
                        </li>
                        <li>
                          <div class="color-lightblue">
                            <%= i.radio_button :color, :ライトブルー, checked: "checked" %>
                              <%= i.label :ライトブルー, class: "color_label" %>
                                <a></a>
                          </div>
                        </li>
                        <li>
                          <div class="color-yellow">
                            <%= i.radio_button :color, :イエロー, checked: "checked" %>
                              <%= i.label :イエロー, class: "color_label" %>
                                <a></a>
                          </div>
                        </li>
                        <li>
                          <div class="color-green">
                            <%= i.radio_button :color, :グリーン, checked: "checked" %>
                              <%= i.label :グリーン, class: "color_label" %>
                                <a></a>
                          </div>
                        </li>



                        <li>
                          <div class="color-orenge">
                            <%= i.radio_button :color, :オレンジ, checked: "checked" %>
                              <%= i.label :オレンジ, class: "color_label" %>
                                <a></a>
                          </div>
                        </li>
                        <li>
                          <div class="color-olive">
                            <%= i.radio_button :color, :オリーブ, checked: "checked" %>
                              <%= i.label :オリーブ, class: "color_label" %>
                                <a></a>
                          </div>
                        </li>
                        <li>
                          <div class="color-neon">
                            <%= i.radio_button :color, :ネオン, checked: "neon" %>
                              <%= i.label :ネオン, class: "color_label" %>
                                <a></a>
                          </div>
                        </li>
                        <li>
                          <div class="color-border">
                            <%= i.radio_button :color, :ボーダー, checked: "checked" %>
                              <%= i.label :ボーダー, class: "color_label" %>
                                <a></a>
                          </div>
                        </li>
                        <li>
                          <div class="color-patternned">
                            <%= i.radio_button :color, :水たま, checked: "checked" %>
                              <%= i.label :水たま, class: "color_label" %>
                                <a></a>
                          </div>
                        </li>
                        <li>
                          <div class="color-denim">
                            <%= i.radio_button :color, :デニム, checked: "checked" %>
                              <%= i.label :デニム, class: "color_label" %>
                                <a></a>
                          </div>
                        </li>
                        <li>
                          <div class="color-others">
                            <%= i.radio_button :color, :他のカラー, checked: "checked" %>
                              <%= i.label :他のカラー, class: "color_label" %>
                                <a></a>
                          </div>
                        </li>


                    </div>
                 </div>

<% end %>
