<h1 class="text-2xl font-bold mb-4"><%= @item.name %> の詳細</h1>

<div class="bg-white shadow rounded p-4">
  <% if @item.picture.present? %>
    <div class="mb-4">
      <%= image_tag @item.picture.url, class: "w-full rounded" %>
    </div>
  <% end %>
  <ul class="space-y-2">
    <li><strong>内容:</strong> <%= @item.content %></li>
    <li><strong>TPO:</strong> <%= @item.tpo %></li>
    <li><strong>季節:</strong> <%= @item.season %></li>
    <li><strong>評価:</strong> <%= @item.rating %></li>
  </ul>
</div>

<div class="mt-4 flex space-x-4">
  <%= link_to "編集", edit_item_path(@item), class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" %>
  <%= link_to "削除", item_path(@item), data: { action: "click->confirm-delete#confirm" }, method: :delete, class: "px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600" %>
</div>

<div class="item_show_lists ">
  <ul>
    <li>ユーザー: <%=link_to @item.user.name, user_show_path(id: params[:user_id]), data: {turbolinks: false} %></li>
    <li>カテゴリー ：<%= @item.super_item %></li>
    <li><i class="fa fa-leaf" aria-hidden="true"></i>季節： <%= @item.season %></li>
    <li>TPO :<%= @item.tpo %></li>
    <li>内容： <%= @item.content %></li>
    <li>カラー： <%= @item.color %></li>
    <li><i class="far fa-edit fa-1x"></i>メモ： <%= @item.memo %></li>
    <!--星評価-->
    <li><i class="fa fa-trophy" aria-hidden="true"></i>評価:<span class="star5_rating" data-rate=<%= @item.rating %>></span></li>
    <li><%= link_to "アイテムのコーデをみてみる" , cordinate_show_path( user_id: @item.user_id, id: @item.cordinate_id ) , data: {turbolinks: false} unless @item.cordinate_id.blank? %></li>
  </ul>
</div>
</div>

<% if @item.super_item == "suits" %>
<%= link_to "コーデにスーツとして登録",    cordinate_new_path( cordinate_si_suits:   params[:id], item_id: @item.id), data: {turbolinks: false} %>
　　　<% elsif @item.super_item == "outer" %>
　　　 <%= link_to "コーデにアウターとして登録",cordinate_new_path( cordinate_si_outer:   params[:id], item_id: @item.id, data: {turbolinks: false}) %>
　　　<% elsif @item.super_item == "tops"  %>
　　　 <%= link_to "コーデにトップスとして登録",  cordinate_new_path( cordinate_si_tops:    params[:id], item_id: @item.id), data: {turbolinks: false} %>
　　　<% elsif  @item.super_item == "bottoms" %>
<%= link_to "コーデにボトムスとして登録",  cordinate_new_path( cordinate_si_bottoms: params[:id], item_id: @item.id), data: {turbolinks: false} %>
<% elsif  @item.super_item == "shoes" %>
<%= link_to "コーデにシューズとして登録",  cordinate_new_path( cordinate_si_shoes:   params[:id], item_id: @item.id), data: {turbolinks: false} %>
<% end %>