<div class="header-logo">
  <%= image_tag "speadwear.png", size: '80x80', class: "site-logo" %>
  <h2>Spead Wear</h2>
  <div class="whether_position">
    <%= render "shared/whether_report" %>
  </div>
</div>



<nav class="navbar navbar-expand-lg navbar-light is-hidden" style="background-color: #edfad7;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ">
      <%= link_to 'トップページ', root_path,class: "p-2 text-muted", data: {turbolinks: false} %>
      <% unless logged_in? %>
      <%= link_to "ログイン", login_path, class: "p-2 text-muted", data: {turbolinks: false} %>
      <%= link_to '新規登録', signup_path , class: "p-2 text-muted", data: {turbolinks: false} %>
      <% end %>
      <%# unless request.path.include?("/signup") || request.path.include?("/login")   %>
      <% if logged_in? %>
      <%= link_to "プロフィール編集", edit_user_path(current_user),class: "p-2 text-muted", data: {turbolinks: false} %>
      <%= link_to "Log out", logout_path, method: :delete, class: "p-2 text-muted", data: {turbolinks: false} %>
      <% end %>
      <% unless session[:user_id] == nil %>

      <%= link_to "ユーザー表示", allusers_index_path(user_id: session[:user_id]), class: "p-2 text-muted", data: {turbolinks: false}  %>
      <%= link_to "みんなのアイテム", all_item_show_path(user_id: session[:user_id]), class: "p-2 text-muted", data: {turbolinks: false} %>
      <%= link_to "みんなのコーデ", all_cordinate_show_path(user_id: session[:user_id]), class: "p-2 text-muted", data: {turbolinks: false}  %>
      <%= link_to "マイアイテム", user_item_path(user_id: session[:user_id]), class: "p-2 text-muted", data: {turbolinks: false}  %>
      <%= link_to "マイコーデ", user_cordinate_path(user_id: session[:user_id]), class: "p-2 text-muted", data: {turbolinks: false}  %>
      <%= link_to "アイテム作成", item_new_path(user_id: session[:user_id]), class: "p-2 text-muted", data: {turbolinks: false}  %>
      <%= link_to "コーデ作成", cordinate_new_path(user_id: session[:user_id]), class: "p-2 text-muted", data: {turbolinks: false} %>
      <%= link_to "通知りれき", notifications_path(user_id: session[:user_id]), class: "p-2 text-muted", data: {turbolinks: false} %>
      <% end %>
    </div>
  </div>
</nav>

<div id="nav-toggle">
  Menu
  <div>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>


<div id="gloval-nav">
  <nav>
    <div class="navbar-nav ">
      <li><%= link_to 'トップページ', root_path, data: {turbolinks: false} %></li>
      <% unless logged_in? %>
      <li><%= link_to "ログイン", login_path, data: {turbolinks: false} %></li>
      <li><%= link_to '新規登録', signup_path , data: {turbolinks: false} %></li>
      <% end %>
      <% if logged_in? %>
      <%= link_to "プロフィール編集", edit_user_path(current_user), data: {turbolinks: false} %></li>
      <li><%= link_to "ログアウト", logout_path, method: :delete, data: {turbolinks: false} %></li>
      <% end %>
      <% unless session[:user_id] == nil %>
      <li><%= link_to "ユーザー表示", allusers_index_path(user_id: session[:user_id]), data: {turbolinks: false}  %></li>
      <li><%= link_to "みんなのアイテム", all_item_show_path(user_id: session[:user_id]), data: {turbolinks: false} %></li>
      <li><%= link_to "みんなのコーデ", all_cordinate_show_path(user_id: session[:user_id]), data: {turbolinks: false}%></li>
      <li><%= link_to "マイアイテム", user_item_path(user_id: session[:user_id]), data: {turbolinks: false}  %></li>
      <li><%= link_to "Myコーデ", user_cordinate_path(user_id: session[:user_id]), data: {turbolinks: false}  %></li>
      <li><%= link_to "Item作成", item_new_path(user_id: session[:user_id]), data: {turbolinks: false}  %></li>
      <li><%= link_to "Cordinate作成", cordinate_new_path(user_id: session[:user_id]), data: {turbolinks: false} %></li>
      <li><%= link_to "通知りれき", notifications_path(user_id: session[:user_id]), data: {turbolinks: false} %></li>
      <% end %>
  </nav>
</div><!-- /#gloval-nav -->

<div id="container">
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script type="text/javascript">
  (function($) {
    $(function() {
      $('#nav-toggle').on('click', function() {
        $('body').toggleClass('open');
      });
    });
  })(jQuery);
</script>